{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Ganancias Individuales
{% endblock %}

{% block content %}

 {% if player.id_in_group == 1 %}

<p> <b>Usted es el vendedor</b>  <br>

    Su costo de producción es: {{group.Costo}} <br>
    Usted decidio que el precio es: {{group.Precio}} <br>

    {% if group.Precio <= group.MPDA %}

    Se realizó la transacción.<br>

    {% else %}

    No se realizo la transaccion.<br>

    {% endif %}

    {% if group.RRevision < 21 %}

    El computador elige el número {{group.RRevision}}, por lo tanto se realiza la revisión.<br>

    {% else %}

    El computador elige el número {{group.RRevision}}, por lo tanto no se realiza la revisión.<br>

    {% endif %}

 {% else %}

<p> <b>Usted es el comprador</b>  <br>

    El valor que usted le da al producto es: {{group.Valor}} <br>
    El máximo precio que usted está dispuesto a aceptar es: {{group.MPDA}} <br>
    El vendedor decidió que el precio es: {{group.Precio}}<br>

    {% if group.Precio <= group.MPDA %}

    Se realizó la transacción.<br>

    {% else %}

    No se realizo la transaccion.<br>

    {% endif %}

    {% if group.RRevision < 21 %}

    El computador elige el número {{group.RRevision}}, por lo tanto se realiza la revisión.<br>

    {% else %}

    El computador elige el número {{group.RRevision}}, por lo tanto no se realiza la revisión.<br>

    {% endif %}

    {% endif %}

    Su ganancia en este periodo es: {{player.Pagos}}

    {% next_button %}

{% endblock %}