{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load static %}

{% block title %}
{% endblock %}

{% block content %}

   <style media="screen">
      @import url('https://fonts.googleapis.com/css?family=Cabin');
       img{
           width: 100%;
           height: 80%;
       }
       button{
         background-color: #243e92;
         position: relative;
         color: white;
         font-family: 'Cabin', sans-serif;
         border: none;
         font-size: 23px;
         padding: 15px 32px;
         left: 88.45%;
       }

       .otree-timer.alert.alert-warning{
        display: none;
      }
   </style>

    {% if tratamiento %}
        {% if numeroronda == rondastotales %}
            <img  src = "{% static 'mercados_prohibidos/final_mercado.png' %}"/>
        {% else %}
            <img  src = "{% static 'mercados_prohibidos/inicial_prohibicion.png' %}"/>
        {% endif %}
    {% else %}
        {% if numeroronda == rondastotales %}
           <img  src = "{% static 'mercados_prohibidos/final_prohibicion.png' %}"/>
        {% else %}
            <img  src = "{% static 'mercados_prohibidos/inicial_mercado.png' %}"/>
        {% endif %}
    {% endif %}

    <button>
        Siguiente
    </button>

{% endblock %}
