{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}

{% endblock %}

{% block content %}

    <style>
    div.relative {
    position: relative;
    top: 10px;
    left: 20px;
    width: 50%;
    background-color:#242a92;
    color: white;
    }
    h1{
    position: relative;
    left: 10px;
    }
    div.puntos{
    top: 80px;
    position: relative;
    left: 10px;
    }
    </style>

    <div class="relative">
    <h1> Contribución </h1>
    </div>

    </br> </br>

    <div class="puntos">
    1000 puntos disponibles
    </br> </br>
    {% formfield player.Contribucion label="Su contribución a la Cuenta Pública:" %}
    </br> </br>
    {% next_button %}
    </div>
{% endblock %}