{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load static %}

{% block title %}

{% endblock %}

{% block content %}

    <style media="screen">
      @import url('https://fonts.googleapis.com/css?family=Cabin');

       button{
         background-color: #243e92;
         position: relative;
         color: white;
         font-family: 'Cabin', sans-serif;
         border: none;
         font-size: 20px;
         padding: 8px 20px;
         float: right;
       }

       div.encabezado{
	    color: white;
        background-color:#243e92;
        font-family: 'Cabin', sans-serif;
        text-align: center;
        padding: 0.008px 5px;
      }

       p {
      font-family: 'Cabin', sans-serif;
      font-size: 20px;
      }

      .otree-timer.alert.alert-warning{
        display: none;
      }

      .col-form-label /*El tecxto del formulario donde dice DEsea...*/
      {
      font-family: 'Cabin', sans-serif;
      font-size: 20px;
      }

      .input-group-text{ /*puntos*/
       font-family: 'Cabin', sans-serif;
       font-size: 20px;
      }

       .imagen{
      display:block;
      margin:auto;
      }
   </style>

    <div class="encabezado"> <h2> Contribución </h2> </div>

    <p> ID: {{identificacion}} </p>

    <p> 1000 puntos disponibles </p>

    {% formfield player.Contribucion label="Debe decidir con cuántos puntos va a contribuir a la cuenta pública:" %}

    {% if tratamiento %}
        {% if numeroronda >= rondastotales %}
            <img  class="imagen" src = "{% static 'garrote_zanahoria/garrote_azul.png' %}"/>
        {% else %}
            <img  class="imagen" src = "{% static 'garrote_zanahoria/zanahoria_verde.png' %}"/>
        {% endif %}
    {% else %}
        {% if numeroronda >= rondastotales %}
           <img  class="imagen" src = "{% static 'garrote_zanahoria/zanahoria_azul.png' %}"/>
        {% else %}
            <img class="imagen" src = "{% static 'garrote_zanahoria/garrote_verde.png' %}"/>
        {% endif %}
    {% endif %}

    <button>
          <b>Siguiente</b>
    </button>

{% endblock %}