{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Ganancias Totales
{% endblock %}

{% block content %}

    <style>
    div.relative {
    position: relative;
    top: 75px;
    left: 90px;
    width: 50%;
    background-color:#242a92;
    color: white;
    }
    h1{
    position: relative;
    left: 10px;
    }
    div.datos{
	position: relative;
    left: 90px;
    top: 85px;
    }
    </style>


    <div class="relative">
    <h1>
    Ganancias Totales
    </h1>
    </div>

    <div class="datos">
    El juego ha terminado. Gracias por participar.
    </br> </br> </br> </br>
    <p align="center">Su ganancia acumulada es:{{player.PagosTotales}}</p>
    </div>



{% endblock %}