{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Incentivos
{% endblock %}

{% block content %}

    <style>
    div.relative {
    position: relative;
    top: 75px;
    left: 90px;
    width: 50%;
    background-color:#242a92;
    color: white;
    }
    h1{
    position: relative;
    left: 10px;
    }
    div.contri{
	position: relative;
    left: 90px;
    top: 85px;
    }
    div.puntos{
	position: relative;
    left: 90px;
    top: 100px;
    }
    div.IN{
	position: relative;
    left: 260px;
    top: 150px;
    }
    </style>

    <div class="relative">
    <h1>
    Incentivos
    </h1>
    </div>

    <div class="contri">
    Contribución de su pareja a la Cuenta Pública: {{contri_otro_jugador}}
    </div>
    <div class="puntos">
    200 puntos disponibles.
    </div>
    <div class="IN">
    {% formfield player.Inversion label="Su inversión en el incentivo:" %}
    </div>

    {% next_button %}

{% endblock %}