{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
{% endblock %}

{% block content %}

<style media="screen">
    img{
      width: 100%;
      height: 80%;
    }

    div.boton{
      position: relative;
      left: 80%;
    }
</style>

<div class="boton"> {% next_button %} </div>

{% if tratamiento %}
        {% if numeroronda == rondastotales %}
            <img src="periodos_finales_garrote.png">
        {% else %}
            <img src="periodos_iniciales_zanahoria.png">
        {% endif %}
    {% else %}
        {% if numeroronda == rondastotales %}
                <img src="periodos_finales_zanahoria.png">
        {% else %}
                <img src="periodos_iniciales_garrote.png">
        {% endif %}
    {% endif %}

<div class="boton">
     {% next_button %}
</div>

{% endblock %}