{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Ganancias
{% endblock %}

{% block content %}

    <p> Su elección fue

    {% if player.Voto_Azul == True %}
        el partido Azul </p>
    {% elif player.Voto_Rojo == True %}
        el partido Rojo </p>
    {% elif player.Voto_Verde == True %}
        el partido Verde </p>
    {% else %}
        no votar </p>
    {% endif %}

    <p> El partido ganador es: {{Subsession.Ganador}} </p>

    <p> Su ganancia en este periodo es: {{player.Pagos}} </p>

{% next_button %}

{% endblock %}

