{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Ganancias
{% endblock %}

{% block content %}

<style>
    @import url('https://fonts.googleapis.com/css?family=Cabin');
     p{ font-family: 'Cabin', sans-serif; }

     .otree-title{
        color: white;
        background-color:#243e92;
        font-family: 'Cabin', sans-serif;
        text-align: center;
        padding: 0.008px 5px;
     }

     .otree-btn-next{
         background-color: #243e92;
         position: relative;
         color: white;
         font-family: 'Cabin', sans-serif;
         border: none;
         font-size: 22px;
         padding: 8px 20px;
         float: right;
    }

    img{
        display:block;
        margin:auto;
     }

</style>

    <p> Su elección fue

    {% if player.Voto_Azul == True %}
        el partido Azul </p>
    {% elif player.Voto_Rojo == True %}
        el partido Rojo </p>
    {% elif player.Voto_Verde == True %}
        el partido Verde </p>
    {% else %}
        no votar </p>
    {% endif %}

    <p> El partido ganador es: {{subsession.Ganador}} </p>

    <p> Su ganancia en este periodo es: {{player.Pagos}} </p>

    {% if tratamiento %}
        {% if numeroronda >= rondastotales %}
            <img  class="imagen" src = "{% static 'paradoja_votante/encuesta_azul.png' %}"/>
        {% else %}
            <img  class="imagen" src = "{% static 'paradoja_votante/votacion_verde.png' %}"/>
        {% endif %}
    {% else %}
        {% if numeroronda >= rondastotales %}
           <img  class="imagen" src = "{% static 'paradoja_votante/votacion_azul.png' %}"/>
        {% else %}
            <img class="imagen" src = "{% static 'paradoja_votante/encuesta_verde.png' %}"/>
        {% endif %}
    {% endif %}

{% next_button %}

{% endblock %}

