{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Ganancias
{% endblock %}

{% block content %}

 {% if player.role==vendedor %}

<p> <b>Usted es el vendedor</b>  <br>
    La calidad del producto es:{{}} <br>
    El precio de venta es: {{}} <br/>

        {% if respuestavendedor == True }

         Se realizó la transacción </p>

        {% else %}

         No se realizó la transacción</p>

        {% endif %}

    <p>Su ganancia en este periodo es: {{}} </p>

 {% else %}

<p> <b>Usted es el comprador</b>  <br>
    La calidad del producto es:{{}} <br>
    El precio de venta es: {{}} <br/>

        {% if respuestavendedor == True }

         Se realizó la transacción </p>

        {% else %}

         No se realizó la transacción</p>

        {% endif %}

    <p>Su ganancia en este periodo es: {{}} </p>

    {% endif %}

    {% next_button %}

{% endblock %}