{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Bienvenid@s
{% endblock %}

{% block content %}

    <p>
        Usted está participando en un estudio sobre toma de decisiones económicas. Por favor lea
las instrucciones cuidadosamente porque en ellas se le explicará la forma de ganar puntos
en el juego.<br/>
El objetivo de cada participante es ganar la mayor cantidad de puntos, que dependen tanto
de sus decisiones como de las decisiones de los demás participantes. En este sentido no
considere que existen respuestas incorrectas ni piense que esperamos un comportamiento
concreto de su parte. Usted es libre de tomar sus decisiones.<br/>
Cualquier comunicación entre usted y los demás participantes se llevará a cabo a través de
los computadores. Por favor no hable ni se comunique con los demás participantes de
ninguna otra manera. Si usted tiene alguna pregunta, por favor levante su mano y uno de
nosotros le ayudará.<br/>
        Su participación en el estudio es anónima. Esto quiere decir que su identidad no le será
revelada a los demás, ni tampoco la identidad de los demás le será revelada a usted. Para
asegurar el anonimato y la confidencialidad se ha asignado un código al azar (etiqueta
amarilla).<br/>
    </p>

    {% next_button %}

{% endblock %}
