{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Decide cuanto invertir
{% endblock %}

{% block content %}

    <p>Su dotacion inicial es de {{Constants.dotacion}}</p><br/>
    <p>El valor que usted le da al producto es de {{player.valor_producto}}</p><br/>
    <p>El producto sera entregado por medio de un sorteo. Cada punto que usted
    invierta es como si comprara una boleta. En total existiran tantas boletas
    como puntos inviertan los participantes. El computador seleccionara una boleta
    al azar.</p><br/>
    {% formfield player.da_invertir label="Digite la cantidad de boletas que desea comprar:" %}

    {% next_button %}

{% endblock %}
