{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Tipo de tratamiento
{% endblock %}

{% block content %}

    {% if tratamiento %}
        {% if numeroronda == rondastotales %}
            <h1 align="center">
                Periodos finales
            </h1> </br>
        En los siguientes periodos, se va realizar la subasta.
        {% else %}
            <h1 align="center">
                Periodos iniciales
            </h1> </br>
        En los siguientes periodos, se va realizar la loteria.
        {% endif %}
    {% else %}
        {% if numeroronda == rondastotales %}
            <h1 align="center">
                Periodos finales
            </h1> </br>
        En los siguientes periodos, se va realizar la loteria.
        {% else %}
            <h1 align="center">
                Periodos iniciales
            </h1> </br>
        En los siguientes periodos, se va realizar la subasta.
        {% endif %}
    {% endif %}

    {% next_button %}

{% endblock %}
