{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Escucha
{% endblock %}

{% block content %}

    <h2> Indicador 5: Capacidad de escuchar a los compañeros. </h2>

    <p> <b> Insuficiente (1)</b>: No escuchan atentamente a sus compañeros. No respetan turno u opiniones.</p>

    <p> <b> Excelente (5)</b>: Siempre escuchan atentamente y son capaces de analizar los argumentos de los demás. Son respetuosos ante la opinión de los demás y ante el turno de palabra.</p>

    {% formfield player.I5AF label="Casa a favor:"  %}
    {% formfield player.I5EC label="Casa en contra:" %}

    {% next_button %}

{% endblock %}
