{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Resultados
{% endblock %}

{% block content %}

    <p><b> Indicador 1: Trabajo en equipo </b></p>

    <p>Puntaje casa a favor: {{ subsession.promI1AF }}</p>

    <p>Puntaje casa en contra: {{ subsession.promI1EC }}</p>

    <p><b> Indicador 2: Conocimiento y comprensión del tema </b></p>

    <p>Puntaje casa a favor: {{ subsession.promI2AF }}</p>

    <p>Puntaje casa en contra: {{ subsession.promI2EC }}</p>

    <p><b> Indicador 3: Coherencia y fluidez de las ideas </b></p>

    <p>Puntaje casa a favor: {{ subsession.promI3AF }}</p>

    <p>Puntaje casa en contra: {{ subsession.promI3EC }}</p>

    <p><b> Indicador 4: Vocabulario utilizado y tono de voz. </b></p>

    <p>Puntaje casa a favor: {{ subsession.promI4AF }}</p>

    <p>Puntaje casa en contra: {{ subsession.promI4EC }}</p>

    <p><b> Indicador 5: Capacidad de escuchar a los compañeros. </b></p>

    <p>Puntaje casa a favor: {{ subsession.promI5AF }}</p>

    <p>Puntaje casa en contra: {{ subsession.promI5EC }}</p>

    {% next_button %}

{% endblock %}
