{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Consentimiento Informado
{% endblock %}

{% block content %}

<p class="text-justify">Lo invitamos a participar como voluntario en las actividades organizadas en el EMAR LAB.
Principalmente realizamos estudios del comportamiento por medio de experimentos económicos.
Podrá participar en cuantos usted desee, no obstante, tiene total libertad de decidir la cantidad de
ellos en los que quiera ser parte activa. Su participación es totalmente gratuita y no requiere ninguna
preparación previa.</p>
<p class="text-justify">Su participación en cada experimento se limitará a interactuar con un grupo de personas y tomar
decisiones individuales en un ambiente computarizado controlado. Es decir, usted solo deberá elegir
una de las distintas alternativas que se le presenten en la pantalla y dar clic sobre la misma. El nivel
de riesgo que entraña cada experimento es mínimo, por lo que en ningún momento su integridad
psicofísica se verá expuesta. Esto implica que la probabilidad y la magnitud del daño o el malestar
previsto no son superiores a los que se encuentran en la vida diaria o en el curso de una actividad
académica normal. </p>
<p class="text-justify">Al hacer parte de estas investigaciones contribuirá de manera significativa para entender el proceso
de toma de decisiones estratégicas en diferentes contextos de </p>
<p class="text-justify">En términos generales las instrucciones serán las mismas para todos los participantes, exceptuando
los cambios pertinentes en cada tratamiento del estudio. Las instrucciones son simples y si las sigue
cuidadosamente ganará una cantidad de puntos no monetarios de manera confidencial, dado que
nadie conocerá las ganancias alcanzadas por el resto de participantes. </p>
<p class="text-justify"> En estos experimentos no hay respuestas correctas ni incorrectas. No piense, por tanto, que se
espera un comportamiento concreto de su parte. Por otro lado, tenga en cuenta que sus decisiones
afectarán la cantidad de puntos que gane en cada experimento. Puede preguntar a los auxiliares del
laboratorio en cualquier momento las dudas que tenga, levantando primero la mano. Fuera de esas
preguntas, cualquier otro tipo de comunicación con los demás participantes no estará permitida.</p>
<p class="text-justify"> El software del sistema llevará un registro detallado de todas las decisiones que se tomen en el
experimento y generará una base de datos segura. El anonimato es garantizado, pues ni siquiera el
personal profesional conocerá la identidad de los participantes del estudio. Si tras su participación
tiene alguna inconformidad con el experimento, por favor póngase en contacto con Santiago Adolfo Sequeda
    al teléfono 3144867010, o al correo electrónico santiagoadolfosequeda@gmail.com </p>
<p class="text-justify"> Los datos serán conservados en las bases de datos del laboratorio y serán objeto de tratamiento por
un periodo máximo de veinte años, a partir de la fecha de su registro y no serán compartidos con
terceros en ningún caso. Si en algún momento requiere acceder, rectificar o solicitar la supresión de
los datos personales que ha proporcionado, podrá realizar la solicitud al correo electrónico
    santiagoadolfosequeda@gmail.com. </p>
<p class="text-justify"> Su aceptación de este consentimiento significa que entiende y está de acuerdo con la información
provista y que acepta recibir información y participar en los estudios realizados para los resultados de esta investigación.
    Tenga presente que su participación es voluntaria, y que se
    puede dejar de recibir información en cualquier momento.

<p> {% formfield player.consentimiento label='Autorización de consentimiento informado' %} </p>

    <button class="btn btn-default" name="consentimiento" value="True">Si autorizo</button>
    <button class="btn btn-default" name="consentimiento" value="False">No autorizo</button>

{% endblock %}
