{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Haz la prueba!
{% endblock %}

{% block content %}

    {% if ronda == 1 %}
    
        <p> Complete la secuencia M,T,W,T,F...</p>
            <input type="radio" name="prueba"  > S,D<br>
            <input type="radio" name="prueba" id="correcto" > S,S<br>
            <input type="radio" name="prueba"  > M,T<br>
            <input type="radio" name="prueba"  > F,T<br>

        <p>  ¿Cuál es el valor que sigue en la siguiente serie numérica: 1, 3, 9, 27, 81...?  </p>
                    <input type="radio" name="prueba1" > 162 <br>
                    <input type="radio" name="prueba1" id="correcto1" > 251 <br>
                    <input type="radio" name="prueba1" > 243 <br>
                    <input type="radio" name="prueba1" > 405 <br>

        <p> ¿Cuál es el valor que sigue en la siguiente serie numérica: 5, -6, 7, -8, 9...?</p>
                    <input type="radio" name="prueba2" > -8 <br>
                    <input type="radio" name="prueba2" > 8 <br>
                    <input type="radio" name="prueba2" id="correcto2"> -10 <br>
                    <input type="radio" name="prueba2" > 10  <br>

        <p> ¿Cuál de los siguientes números no es primo? </p>
                    <input type="radio" name="prueba3" >  11 <br>
                    <input type="radio" name="prueba3" > 7 <br>
                    <input type="radio" name="prueba3" id="correcto3"> 33 <br>
                    <input type="radio" name="prueba3" > 31 <br>

    {% elif ronda == 2 %}
    
        <p> Complete la secuencia 2,3,5,7...</p>
            <input type="radio" name="prueba" id="correcto"> 9,11 <br>
            <input type="radio" name="prueba" > 8,9<br>
            <input type="radio" name="prueba" > 11,13<br>
            <input type="radio" name="prueba" > 2,3 <br>

        <p> ¿Cuál es el valor que sigue en la siguiente serie numérica: -4, -1, 2, 5, 8...? </p>
                    <input type="radio" name="prueba1" > -11 <br>
                    <input type="radio" name="prueba1" > 9 <br>
                    <input type="radio" name="prueba1"> 10 <br>
                    <input type="radio" name="prueba1" id="correcto1"> 11  <br>

        <p> ¿Cuál es el valor que sigue en la siguiente serie numérica: 3, 6, 12, 24, 48...? </p>
                    <input type="radio" name="prueba2" > 60 <br>
                    <input type="radio" name="prueba2" > 72 <br>
                    <input type="radio" name="prueba2" id="correcto2" > 96 <br>
                    <input type="radio" name="prueba2" > 108 <br>

        <p> - 265 - 382 + (48 * 2) =</p>
                    <input type="radio" name="prueba3" >  21 <br>
                    <input type="radio" name="prueba3" > 0 <br>
                    <input type="radio" name="prueba3" > 23 <br>
                    <input type="radio" name="prueba3" id="correcto3"> -21 <br>
    
    {% elif ronda == 3 %}
    
        <p> Complete la secuencia E,F,M,A,M...</p>
            <input type="radio" name="prueba" > A,M<br>
            <input type="radio" name="prueba" id="correcto"> J,J<br>
            <input type="radio" name="prueba" > A,S<br>
            <input type="radio" name="prueba" > O,N<br>

        <p>  ¿Cuál es el valor que sigue en la siguiente serie numérica: 6, 12, 18, 24, 30..?  </p>
                    <input type="radio" name="prueba1" id="correcto1"> 33 <br>
                    <input type="radio" name="prueba1" > 36 <br>
                    <input type="radio" name="prueba1"> 39 <br>
                    <input type="radio" name="prueba1"> 42  <br>

        <p>  ¿Cuál es el valor que sigue en la siguiente serie numérica: 30, 35, 35, 40, 40, 45...?</p>
                    <input type="radio" name="prueba2" > 35 <br>
                    <input type="radio" name="prueba2" id="correcto2" > 40 <br>
                    <input type="radio" name="prueba2" > 45 <br>
                    <input type="radio" name="prueba2" > 50 <br>

        <p> 1+2+3+4+5+6+7+8+9 =</p>
                    <input type="radio" name="prueba3" >  43 <br>
                    <input type="radio" name="prueba3" id="correcto3"> 45 <br>
                    <input type="radio" name="prueba3" > 46 <br>
                    <input type="radio" name="prueba3" > 49 <br>
    
    {% elif ronda == 4 %}
    
        <p> Una madre y un padre tienen 6 hijos varones y cada hijo varón tiene una hermana. ¿Cuántas personas componen la familia? </p>

            <input type="radio" name="prueba"> 6 <br>
            <input type="radio" name="prueba"> 10 <br>
            <input type="radio" name="prueba"> 7 <br>
            <input type="radio" name="prueba" id="correcto"> 9

        <p> Tres amigos jugaron al ajedrez. En total jugaron tres partidas. ¿Cuántas partidas jugó cada uno? </p>

                    <input type="radio" name="prueba1" > 3 <br>
                    <input type="radio" name="prueba1" > 9 <br>
                    <input type="radio" name="prueba1" id="correcto1"> 2 <br>
                    <input type="radio" name="prueba1" > 6 <br>

        <p> ¿Cuál es el valor que sigue en la siguiente serie numérica: -10, -8, -4, 4, 20...? </p>
                    <input type="radio" name="prueba2" > 24 <br>
                    <input type="radio" name="prueba2" > 36 <br>
                    <input type="radio" name="prueba2" > 52 <br>
                    <input type="radio" name="prueba2" id="correcto2" > 32 <br>

        <p>El señor calvo es más inteligente que el señor de pelo corto,el señor de pelo corto es más inteligente que el señor de pelo largo,¿Quién es el menos inteligente? </p>
                    <input type="radio" name="prueba3" >  Calvo  <br>
                    <input type="radio" name="prueba3" > Pelo corto <br>
                    <input type="radio" name="prueba3" id="correcto3"> Pelo largo <br>
    
    {% elif ronda == 5 %}
    
        <p> Un número y su consecutivo equivalen a 7</p>
            <input type="radio" name="prueba" > 6 y 1 <br>
            <input type="radio" name="prueba" id="correcto"> 3 y 4 <br>
            <input type="radio" name="prueba" > 5 y 2 <br>
            <input type="radio" name="prueba" > 7 y 0 <br>

        <p>  ¿Cuál es el valor que sigue en la siguiente serie numérica: 8, 6, 12, 10, 16...?  </p>
            <input type="radio" name="prueba1" > 12 <br>
            <input type="radio" name="prueba1" id="correcto1" > 14 <br>
            <input type="radio" name="prueba1" > 18 <br>
            <input type="radio" name="prueba1" > 22 <br>

        <p> ¿Cuál es el valor que sigue en la siguiente serie numérica: 0, 2, 4, 2, 0...? </p>
            <input type="radio" name="prueba2" id="correcto2" > 4 <br>
            <input type="radio" name="prueba2" > -2 <br>
            <input type="radio" name="prueba2" > 0 <br>
            <input type="radio" name="prueba2" > 2 <br>

        <p> El gato es menos arisco que el perro,el perro es menos arisco que el ratón,¿Quién es el más arisco? </p>
            <input type="radio" name="prueba3" id="correcto3">  Ratón  <br>
            <input type="radio" name="prueba3" > Perro <br>
            <input type="radio" name="prueba3" > Gato <br>
    
    {% elif ronda == 6 %}
    
        <p>  Un caracol decidió subir a una pared de 20 m de altura.
            Durante cada día tenía tiempo de subir 5 m; pero mientras dormía por la noche, bajaba 4 m.¿Al cabo de cuántos días llegará a la cima de la pared? </p>

            <input type="radio" name="prueba" id="correcto"> 16 <br>
            <input type="radio" name="prueba" > 14 <br>
            <input type="radio" name="prueba" > 15 <br>

        <p> ¿Cuál es el valor que sigue en la siguiente serie numérica: 1, 2, 3, 5, 8..? </p>
            <input type="radio" name="prueba1"  > 11 <br>
            <input type="radio" name="prueba1" id="correcto1" > 13 <br>
            <input type="radio" name="prueba1" > 18 <br>
            <input type="radio" name="prueba1" > 15 <br>

        <p> En un estante hay un diccionario de tres tomos, ordenados. Cada tomo contiene 200 páginas. Una polilla hambrienta se come desde la primera hoja del tomo
            I hasta la última del tomo III (No cuentan las tapas)..¿Cuántas hojas se comió la polilla? </p>

               <input type="radio" name="prueba2" id="correcto2"> 300 <br>
               <input type="radio" name="prueba2"> 250 <br>
               <input type="radio" name="prueba2"> 100

        <p> El cristal oscuro es más limpio que el cristal grueso,el cristal grueso es menos sucio que el cristal nuevo,¿Quién es el menos sucio?</p>
             <input type="radio" name="prueba3" id="correcto3">  Cristal oscuro  <br>
             <input type="radio" name="prueba3" > Cristal grueso <br>
             <input type="radio" name="prueba3" > Cristal nuevo <br>
        
    {% elif ronda == 7 %}
        
        <p> Si el hijo de John es el padre de mi hijo, ¿qué parentesco tengo yo con John? </p>
            <input type="radio" name="prueba" id="correcto"> Su hijo  <br>
            <input type="radio" name="prueba"> Su abuelo <br>
            <input type="radio" name="prueba"> Soy su abuelo <br>
            <input type="radio" name="prueba"> Yo soy John  <br>

        <p>  ¿Cuál es el valor que sigue en la siguiente serie numérica: 1, 6, 10, 13, 15...?  </p>
            <input type="radio" name="prueba1" id="correcto1"> 16 <br>
            <input type="radio" name="prueba1" > 17 <br>
            <input type="radio" name="prueba1"> 18 <br>
            <input type="radio" name="prueba1"> 19 <br>

        <p> - 23 + 65 =</p>
            <input type="radio" name="prueba2" id="correcto2" >  88 <br>
            <input type="radio" name="prueba2" > 76 <br>
            <input type="radio" name="prueba2" > 86 <br>
            <input type="radio" name="prueba2" > 78 <br>

        <p> El whisky es más sano que el agua,el café es más nocivo que el agua,¿Quién es el menos sano? </p>
            <input type="radio" name="prueba3" >  Whisky <br>
            <input type="radio" name="prueba3" id="correcto3">  Café <br>
            <input type="radio" name="prueba3" > Agua <br>
        
    {% elif ronda == 8 %}
        
        <p> Un comerciante compró un artículo por $7.000 , lo vendió por $8.000, lo volvió a comprar por $9.000 y lo vendió finalmente por $10.000 ¿Cuánto beneficio sacó? </p>
            <input type="radio" name="prueba"> 1 <br>
            <input type="radio" name="prueba" id="correcto"> 0  <br>
            <input type="radio" name="prueba"> 2 <br>

                <p> ¿Cuánto son 3/12 de un año? </p>
                    <input type="radio" name="prueba1"> 8 meses <br>
                    <input type="radio" name="prueba1"> Un mes <br>
                    <input type="radio" name="prueba1"> Un semestre <br>
                    <input type="radio" name="prueba1" id="correcto1"> Un trimestre <br>

                <p> ¿Cuál es el valor que sigue en la siguiente serie numérica: 1, 4, 9, 16, 25...? </p>
                    <input type="radio" name="prueba2" > 30 <br>
                    <input type="radio" name="prueba2" id="correcto2"> 36 <br>
                    <input type="radio" name="prueba2" > 45 <br>
                    <input type="radio" name="prueba2" > 50 <br>

                <p> Si  2 * (z + 2) = 8 ¿Cuál es el valor de z? </p>
                    <input type="radio" name="prueba3"> 1 <br>
                    <input type="radio" name="prueba3" id="correcto3"> 2 <br>
                    <input type="radio" name="prueba3"> 8 <br>
                    <input type="radio" name="prueba3"> 6 <br>
        
    {% elif ronda == 9 %}
        
            <p> Cada uno de tres hermanos tiene una hermana, ¿cuántos suman todos? </p>
                <input type="radio" name="prueba"> 3 <br>
                <input type="radio" name="prueba"> 9 <br>
                <input type="radio" name="prueba" id="correcto"> 4 <br>
                <input type="radio" name="prueba"> 9 <br>

                <p> ¿Cuál es el valor que sigue en la siguiente serie numérica: 3/2, 5/3, 7/4, 9/5, 11/6..? </p>
                    <input type="radio" name="prueba1" >  2 <br>
                    <input type="radio" name="prueba1" > 15/12 <br>
                    <input type="radio" name="prueba1" id="correcto1" > 13/7 <br>
                    <input type="radio" name="prueba1" > 4 <br>

                <p>  - 27 - 5 + 42 =</p>
                    <input type="radio" name="prueba2" >  57 <br>
                    <input type="radio" name="prueba2" > 74 <br>
                    <input type="radio" name="prueba2" id="correcto2"> 64 <br>
                    <input type="radio" name="prueba2" > 84

                <p> El círculo grande es menos alto que el triángulo pequeño,el triángulo pequeño es más bajo que el cuadrado mediano,¿Quién es el más bajo? </p>
                    <input type="radio" name="prueba3" id="correcto3">  Círculo grande <br>
                    <input type="radio" name="prueba3" >  Triángulo pequeño  <br>
                    <input type="radio" name="prueba3" > Cuadrado mediano <br>
        
    {% elif ronda == 10 %}
        
            <p>  Si me encuentro en una maratón y en plena carrera le ganó al segundo, ¿en qué posición llego? </p>
                <input type="radio" name="prueba"> Primero <br>
                <input type="radio" name="prueba" id="correcto"> Segundo <br>
                <input type="radio" name="prueba"> Tercero<br>

                <p> Si el 2% de "algo" es cuatro ¿Cuál es el valor de ese "algo"? </p>
                    <input type="radio" name="prueba1"> 50 <br>
                    <input type="radio" name="prueba1" id="correcto1"> 200 <br>
                    <input type="radio" name="prueba1"> 80 <br>
                    <input type="radio" name="prueba1"> 400 <br>

                <p> Un granjero tiene 10 semillas y por cada semilla consigue cinco frutos que pueden volverse en nuevas semillas o productos para la venta.
                    ¿Cuántos frutos debe vender para tener siempre la misma cantidad de semillas? </p>
                    <input type="radio" name="prueba2" id="correcto2"> 40<br>
                    <input type="radio" name="prueba2"> 50 <br>
                    <input type="radio" name="prueba2"> 10 <br>
                    <input type="radio" name="prueba2"> 20 <br>

                <p> ¿Cuál es el valor que sigue en la siguiente serie numérica: 5, 5, 10, 20, 40 ..? </p>
                    <input type="radio" name="prueba3" > 50 <br>
                    <input type="radio" name="prueba3" > 60 <br>
                    <input type="radio" name="prueba3" > 70 <br>
                    <input type="radio" name="prueba3" id="correcto3"> 80 <br>

    {% endif %}

    <div style="display:none">
        <button name="puntaje" value="0" id="boton_incorrecto"></button>
        <button name="puntaje" value="5" id="boton_correcto"></button>
        <button name="puntaje" value="10" id="boton_correcto1"></button>
        <button name="puntaje" value="15" id="boton_correcto2"></button>
        <button name="puntaje" value="20" id="boton_correcto3"></button>
    </div>

    <br>
    <button type="button" class="btn btn-primary btn-large" onclick="siguiente()">Siguiente</button>
    
    
    <script>
        function siguiente()
        {
            puntaje = 0;

            if (document.getElementById("correcto").checked)
            {
                puntaje = puntaje + 5;
            }
            if (document.getElementById("correcto1").checked)
            {
                puntaje = puntaje + 5;
            }
            if (document.getElementById("correcto2").checked)
            {
                puntaje = puntaje + 5;
            }
            if (document.getElementById("correcto3").checked)
            {
                puntaje = puntaje + 5;
            }

            if ( puntaje == 5 )
            {
                document.getElementById("boton_correcto").click();
            }
            else if ( puntaje == 10 )
            {
                document.getElementById("boton_correcto1").click();
            }
            else if ( puntaje == 15 )
            {
                document.getElementById("boton_correcto2").click();
            }
            else if ( puntaje == 20 )
            {
                document.getElementById("boton_correcto3").click();
            }
            else
            {
                document.getElementById("boton_incorrecto").click();
            }
        }
    </script>

{% endblock %}