{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Formulario
{% endblock %}

{% block content %}

    <p> {% formfield player.nombre label='Nombre completo:' %} </p>
    <p> {% formfield player.celular label='Celular:' %} </p>
    <p><div class="form-group required">
            <label class="col-form-label" for="id_correo">Correo:</label>
            <div class="controls  field-correo">
                <input type="email" name="correo" required id="id_correo" class="form-control" />
            </div>
    </div>
    </p>
    <p> {% formfield player.genero label='Género:' %} </p>
    <p> {% formfield player.edad label='Edad:' %} </p>
    <p> {% formfield player.semestre label='Semestre:' %} </p>
    <p> {% formfield player.participacion label='¿Ha participado en experimentos económicos previamente?' %} </p>
    <p> {% formfield player.estudiante label='¿Es estudiante?' %} </p>
    <p> {% formfield player.carrera label='Si es estudiante por favor, ¿cuál es su carrera?' %} </p>
    <p> {% formfield player.universidad label='Si es estudiante por favor, ¿cuál es su universidad?' %} </p>
    <p> {% formfield player.profesion label='En caso de no ser estudiante por favor indique su profesión:' %} </p>

    {% next_button %}

{% endblock %}
