{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Instrucciones
{% endblock %}

{% block content %}

<p class="text-justify"> Hola, usted está a punto de participar en un proceso de elección al azar donde va tener 
    la posibilidad de ser escogido de manera aleatoria presidente dentro de un grupo de 5 posibles candidatos, 
    va tener el poder de destinar un presupuesto que le es asignado para bienestar común, o si usted lo prefiere 
    para su bienestar individual. </p>
<b> Primer Paso:</b>
<p class="text-justify"> En 140 caracteres preséntese y mencione su propuesta de cómo va a destinar el presupuesto 
    asignado si es elegido presidente.</p>
<b > Segundo Paso:</b>
<p class="text-justify">Si el sistema lo eligió de manera aleatoria presidente entre los 5 demás candidatos, 
    usted va a tener la posibilidad de destinar el presupuesto público que para este caso va ser de $3.000 mil pesos. </p>
<p class="text-justify"> Usted va a manejar dos cuentas: una privada y una pública. </p>
<p class="text-justify"><u>La cuenta privada:</u> Todo el dinero que usted destine a la cuenta privada va ser para su 
    beneficio individual. </p>
<p class="text-justify"><u>La cuenta pública:</u> Todo el dinero que usted destine a la cuenta pública automáticamente 
    se va a duplicar y se distribuirá entre todos los 5 jugadores en montos iguales </p>
<b > Tercer paso: </b>
<p class="text-justify"> Usted tiene que decidir que monto del presupuesto público decide enviar a la cuenta privada 
    o a la cuenta pública, recuerde que el monto que usted envié a su cuenta privada va ser todo para su beneficio 
    individual, y el monto que envié a la cuenta pública va ser duplicado automáticamente y repartido entre todos los 
    5 jugadores de forma igual. </p>

{% next_button %}

{% endblock %}
