{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Instrucciones
{% endblock %}

{% block content %}

<p> Hola, usted está a punto de participar en un proceso de elección donde va tener la posibilidad de ser
elegido presidente y va tener el poder de destinar un presupuesto que le es asignado para bienestar
común, o si usted lo prefiere para su bienestar individual. </p>
<p> Si el proceso de elección lo da a usted como a presidente, usted va a tener la posibilidad de destinar el
presupuesto público que para este caso va ser de $5.000 mil pesos. </p>
<p> Usted va a manejar dos cuentas una privada y una pública. </p>
<p> La cuenta privada: Todo el dinero que usted destine a esta va ser para su beneficio individual. </p>
<p> La cuenta pública: Todo el dinero que usted destine a esta cuenta automáticamente se va a duplicar y se
distribuirá entre todos los demás jugadores en montos iguales. </p>
<p text-color="blue"> Primer Paso. </p>
<p>En 140 caracteres preséntese y mencione su propuesta de cómo va a destinar el presupuesto asignado si
es elegido presidente. </p>
<p text-color="blue"> Segundo paso </p>
<p> Va ser sometido a un proceso votación y usted va ser elegido presidente siempre y cuando obtenga una
votación igual o superior a la mitad más 1 (3 votos), la única condición es que usted no puede votar por
usted mismo, tenga en cuenta que la votación se va repetir durante solo 3 rondas, si no hay consenso, el
sistema elegirá un presidente de manera aleatoria. </p>
<p text-color="blue"> Tercer paso </p>
<p> Usted tiene que decidir que monto del presupuesto público decide enviar a la cuenta privada o a la
cuenta pública, recuerde que el monto que usted envié a su cuenta privada va ser todo para su beneficio
individual, y el monto que envié a la cuenta pública va ser duplicado automáticamente y repartido entre
todos los jugadores de forma igual. </p>



    {% next_button %}

{% endblock %}
