{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
   ¡Haz la prueba!
{% endblock %}

{% block content %}

<div>
<p id="pregunta1"> Si usted es elegido presidente envia $3000  a la cuenta pública, 
    ¿Cuánto va a ser su ganancia total? </p>
	    <input type="radio" name="prueba"  >$1400<br>
            <input type="radio" name="prueba" id="correcto1" >$1200<br>
            <input type="radio" name="prueba"  >$800<br>
            <input type="radio" name="prueba"  >$1000<br>
</br>


<p id="pregunta2"> Si usted es elegido presidente y decide enviar a su cuenta privada $2000 y 
    a la cuenta pública $1000 entonces, ¿Cuánto será su ganancia total? <p>
	    <input type="radio" name="prueba1" id="correcto2" >$2400<br>
            <input type="radio" name="prueba1"  >$2100 <br>
            <input type="radio" name="prueba1"  >$2300 <br>
            <input type="radio" name="prueba1"  >$2200 <br>
</div>

<div id="warning" class="alert alert-danger" style="display: none;">
            <strong>Error!</strong> ¡Respuestas incorrectas!
</div>

    <script>
        function ocultar()
        {
            document.getElementById("warning").style.display="none";
        }
        function siguiente()
        {
            if (document.getElementById("correcto1").checked && document.getElementById("correcto2").checked)
            {
                document.getElementById("boton_correcto").click();
            }
            else
            {
                document.getElementById("warning").style.display="block";
                window.setTimeout(ocultar, 3000);
            }
        }
    </script>

<div style="display:none">
        <button id="boton_correcto"></button>
</div>

<button type="button" class="btn btn-primary btn-large" onclick="siguiente()">Siguiente</button>

{% endblock %}