{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Pequeña encuesta
{% endblock %}

{% block content %}
    <p>
        Felicitaciones por completar cada una de las rondas anteriores. Ahora, necesitaremos que responda algunas preguntas para culminar de manera satisfactoria su participación en el juego, así mismo, conocer su ID para la entrega del incentivo.
    </p>
    {% formfield player.nombre label='¿Cuál es su nombre?' %}
    {% formfield player._id label='ID' %}
    {% formfield player.edad label='¿Cuál es su edad?' %}
    {% formfield player.carrera label='¿Qué carrera estudia?' %}
    {% formfield player.elecciones label='¿Ha participado en las últimas elecciones?' %}
    {% formfield player.religion label='¿Profesa alguna religión?' %}
    {% formfield player.publico label='¿Le gustaría participar en el Sector Público después de su graduación?' %}
    {% formfield player.privado label='¿Le gustaría trabajar en el Sector Privado después de su graduación?' %}
    {% formfield player.democratico label='¿Considera que Colombia es un país democrático?' %}
    {% formfield player.ciudadana label='¿Conoce o ha escuchado sobre los mecanismos de participación ciudadana?' %}
    {% formfield player.familiar label='¿Tiene algún familiar que trabaje en el sector público?' %}
    {% formfield player.corruptos label='¿Considera que todos los políticos colombianos son corruptos?' %}
    {% formfield player.sociedad label='¿Considera que la corrupción es un problema para la sociedad?' %}
    {% formfield player.exito label='¿Considera que se necesitan contactos importantes para conseguir éxito en la vida laboral?' %}
    {% formfield player.sobornos label='¿Los sobornos son comunes en el país?' %}
    {% formfield player.necesidad label='¿Los sobornos son necesarios en la política?' %}
    {% formfield player.mecanismos label='¿Qué mecanismos de participación ciudadana conoce? (Si Ud. no conoce, escriba ninguno)' %}

    {% next_button %}

{% endblock %}
