{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Ganancias Individuales
{% endblock %}

{% block content %}

    {% if player.id_in_group == 1 %}
        <p>
          Usted es el participante A</br>
          Su ganancia en este periodo es: {{player.payoff}}</br>
        </p>
    {% else %}
        <p>
          Usted es el participante B</br>
          Su ganancia en este periodo es: {{player.payoff}}</br>
        </p>
    {% endif %}

    {% next_button %}

{% endblock %}
