{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Decisiones
{% endblock %}

{% block content %}

    <style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;margin:0px auto;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-kt89{font-family:"Comic Sans MS", cursive, sans-serif !important;;text-align:center;vertical-align:top}
.tg .tg-7fgq{font-weight:bold;font-family:"Comic Sans MS", cursive, sans-serif !important;;text-align:center;vertical-align:top}
@media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;margin: auto 0px;}}</style>
<div class="tg-wrap"><table class="tg">
  <tr>
    <th class="tg-kt89"></th>
    <th class="tg-7fgq">V1</th>
    <th class="tg-7fgq">V2</th>
  </tr>
  <tr>
    <td class="tg-7fgq">A1</td>
    <td class="tg-kt89">1000,1000</td>
    <td class="tg-kt89">{{group.x}},{{group.y}}</td>
  </tr>
  <tr>
    <td class="tg-7fgq">A2</td>
    <td class="tg-kt89">{{group.y}},{{group.x}}</td>
    <td class="tg-kt89">250,250</td>
  </tr>
</table></div>

<p> <b>Usted es el participante Verde</b>  <br>
    Ahora debes tomar tú decisión.<br>
    El participante Azul eligió {{group.opcion_azul}}
    {% formfield group.opcion_verde with label="Yo elijo:" %} <br/>

    {% next_button %}

{% endblock %}
