{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load static %}

{% block title %}
{% endblock %}

{% block content %}

<style media="screen">
      @import url('https://fonts.googleapis.com/css?family=Cabin');

       .boton{
        background-color: #243e92;
        border: 1px solid #1a2e6d;
        color: white;
        padding: 8px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        float: left;
        font-family: 'Cabin', sans-serif;
       }

       div.encabezado{
	    color: white;
        background-color:#243e92;
        font-family: 'Cabin', sans-serif;
        text-align: center;
        padding: 0.008px 5px;
      }

      p,font {
      font-family: 'Cabin', sans-serif;
      font-size: 20px;
      }

      .otree-timer.alert.alert-warning{
        display: none;
      }

      .col-form-label /*El tecxto del formulario donde dice DEsea...*/
      {
      font-family: 'Cabin', sans-serif;
      font-size: 20px;
      }

      .input-group-text{ /*puntos*/
       font-family: 'Cabin', sans-serif;
       font-size: 20px;
      }

      .imagen{
      display:block;
      margin:auto;
      }

    table {
    font-family: 'Cabin', sans-serif;
    border-collapse: collapse;
    width: 100%;}

    th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    text-align: center;
    }

    tr:hover {background-color:#f5f5f5;}
</style>

<div class="encabezado"> <h2> Decisiones </h2> </div>
<p> Su identicación es: {{identificacion}} </p>

<table>
  <tr>
    <th></th>
    <th style="color:#8FC534";>V1</th>
    <th style="color:#8FC534";>V2</th>
  </tr>
  <tr>
    <td style="color:#243e92";>A1</td>
    <td> <font color="#243e92">1000</font>,<font color="#8FC534">1000</font> </td>
    <td><font color="#243e92">{{group.VariableX}}</font>,<font color="#8FC534">{{group.VariableY}}</font></td>
  </tr>
  <tr>
    <td  style="color:#243e92";> A2 </td>
    <td><font color="#243e92">{{group.VariableY}}</font>,<font color="#8FC534">{{group.VariableX}}</font></td>
    <td><font color="#243e92">250</font>,<font color="#8FC534">250</font></td>
  </tr>
</table>
</br>
<font color="#8FC534"> Usted es el Participante Verde </font> </br> </br>
<p> Ahora debe tomar su decisión.</p>


    {% if eleccion_otro == 1 %}

    <p> El <font  color="#243e92"> participante Azul </font> eligió A1 </p>

    {% else %}

    <p> El <font  color="#243e92"> participante Azul </font> eligió A2 </p>

    {% endif %}

    <br/>
    <button class="boton" name="Eleccion" value="1">V1</button>
    <button class="boton" name="Eleccion" value="2">V2</button>

    {% if tratamiento %}
        {% if numeroronda >= rondastotales %}
            <img  class="imagen" src = "{% static 'conflicto/simultaneo_azul.png' %}"/>
        {% else %}
            <img  class="imagen" src = "{% static 'conflicto/secuencial_verde.png' %}"/>
        {% endif %}
    {% else %}
        {% if numeroronda >= rondastotales %}
           <img  class="imagen" src = "{% static 'conflicto/secuencial_azul.png' %}"/>
        {% else %}
            <img class="imagen" src = "{% static 'conflicto/simultaneo_verde.png' %}"/>
        {% endif %}
    {% endif %}

{% endblock %}
