{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Decisiones
{% endblock %}

{% block content %}

    <style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;margin:0px auto;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-kt89{font-family:"Comic Sans MS", cursive, sans-serif !important;;text-align:center;vertical-align:top}
.tg .tg-7fgq{font-weight:bold;font-family:"Comic Sans MS", cursive, sans-serif !important;;text-align:center;vertical-align:top}
@media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;margin: auto 0px;}}</style>
<div class="tg-wrap"><table class="tg">
 <tr>
   <th class="tg-kt89"></th>
   <th class="tg-7fgq"> <font color="green">V1</font></th>
   <th class="tg-7fgq"> <font color="green">V1</font></th>
 </tr>
 <tr>
   <td class="tg-7fgq"><font color="blue">A1</font></td>
   <td class="tg-kt89"><font color="blue">1000</font>,<font color="green">1000</font></td>
     <td class="tg-kt89"><font color="blue">{{group.x}}</font>,<font color="green">{{group.y}}</font></td>
 </tr>
 <tr>
   <td class="tg-7fgq"><font color="blue">A2</font></td>
     <td class="tg-kt89"><font color="blue">{{group.y}}</font>,<font color="green">{{group.x}}</font></td>
   <td class="tg-kt89"><font color="blue">250</font>,<font color="green">250</font></td>
 </tr>
</table></div> <br>

<p> <b>Usted es el participante Verde</b>  <br>
    Ahora debes tomar tú decisión.<br>


    {% if group.opcion_azul == 0 %}

    El participante Azul eligió: A1 <br>

    {% else %}

    El participante Azul eligió: A2 <br>

    {% endif %}

    <p>Yo elijo:</p>
    <div>
        <button name="opcion_verde" value="0" class="btn btn-primary btn-large">V1</button>
        <button name="opcion_verde" value="2" class="btn btn-primary btn-large">V2</button>
    </div>

{% endblock %}
