{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Ganancias Individuales
{% endblock %}

{% block content %}

 {% if player.id_in_group == 1 %}

<p> <b>Usted es el participante Azul</b>  <br>

    {% if player.Eleccion == 1 %}

    Usted eligió: A1 <br>

    {% else %}

    Usted eligió: A2 <br>

    {% endif %}

    {% if eleccion_otro == 1 %}

    El participante Verde eligió: V1 <br>

    {% else %}

    El participante Verde eligió: V2 <br>

    {% endif %}

    <p>Su ganancia en este periodo es: {{player.payoff}} </p>

 {% else %}

<p> <b>Usted es el participante Verde</b>  <br>

    {% if player.Eleccion == 1 %}

    Usted eligió: V1 <br>

    {% else %}

    Usted eligió: V2 <br>

    {% endif %}

    {% if eleccion_otro == 1 %}

    El participante Azul eligió: A1 <br>

    {% else %}

    El participante Azul eligió: A2 <br>

    {% endif %}

    <p>Su ganancia en este periodo es: {{player.Pagos}} </p>

    {% endif %}

    {% next_button %}

{% endblock %}