{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Tipo de tratamiento
{% endblock %}

{% block content %}

    {% if tratamiento %}
        {% if numeroronda == rondastotales %}
            <h1 align="center">
                Periodos finales
            </h1> </br>
En los siguientes periodos, en la <b>etapa de decisiones</b> no se podrá observar la decisión que tomó el otro jugador
        {% else %}
            <h1 align="center">
                Periodos iniciales
            </h1> </br>
En los siguientes periodos, en la <b>etapa de decisiones</b> no se podrá observar la decisión que tomó el otro jugador
        {% endif %}
    {% else %}
        {% if numeroronda == rondastotales %}
            <h1 align="center">
                Periodos finales
            </h1> </br>
        En los siguientes periodos, en la <b>etapa de decisiones</b> se podrá observar la decisión que tomó el otro jugador
        {% else %}
            <h1 align="center">
                Periodos iniciales
            </h1> </br>
        En los siguientes periodos, en la <b>etapa de decisiones</b> no se podrá observar la decisión que tomó el otro jugador
        {% endif %}
    {% endif %}

    {% next_button %}

{% endblock %}
