{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    General
{% endblock %}

{% block content %}

    <style>

          @import url('https://fonts.googleapis.com/css?family=Cabin');

         .estrellas {
          width: 250px;
          margin: 0 auto;
          height: 40px;
          font-size: 40px;
        }

          label {
            font-size: 40px;
            color: grey;
          }

          input[type="radio"] {
            display: none;
          }

        .clasificacion {
          direction: rtl;
          unicode-bidi: bidi-override;
        }

        label:hover,
        label:hover ~ label {
          color: orange;
        }

        input[type="radio"]:checked ~ label {
          color: orange;
        }

    .otree-title{
	    color: white;
        background-color:#243e92;
        font-family: 'Cabin', sans-serif;
        text-align: center;
        padding: 0.008px 5px;
      }

    button.sig {
         background-color: #243e92;
         position: relative;
         color: white;
         font-family: 'Cabin', sans-serif;
         border: none;
         font-size: 20px;
         padding: 8px 20px;
       }

       p,b{font-family: 'Cabin', sans-serif;
      font-size: 20px;}

    </style>

    <b> Evaluación general del debate </b> </br> </br>

    <p>  Por favor indicar en una escala de 1 a 5 la evaluación del debate en su conjunto.
        Se calculará el promedio de las puntuaciones en cuatro criterios de evaluación que se describen a continuación.</p>


    <p> El cumplimiento de las reglas y el formato del debate:</p>

    <form class="estrellas">
        <p class="clasificacion">
            <input id="id_I1G_1" type="radio" name="I1G" value="5"> <label for="id_I1G_1">★</label>
            <input id="id_I1G_2" type="radio" name="I1G" value="4"> <label for="id_I1G_2">★</label>
            <input id="id_I1G_3" type="radio" name="I1G" value="3"> <label for="id_I1G_3">★</label>
            <input id="id_I1G_4" type="radio" name="I1G" value="2"> <label for="id_I1G_4">★</label>
            <input id="id_I1G_5" type="radio" name="I1G" value="1"> <label for="id_I1G_5">★</label>
        </p>

    <p> Análisis del contexto y discusión a profundidad del tema:</p>

        <p class="clasificacion">
            <input id="id_I2G_1" type="radio" name="I2G" value="5"> <label for="id_I2G_1">★</label>
            <input id="id_I2G_2" type="radio" name="I2G" value="4"> <label for="id_I2G_2">★</label>
            <input id="id_I2G_3" type="radio" name="I2G" value="3"> <label for="id_I2G_3">★</label>
            <input id="id_I2G_4" type="radio" name="I2G" value="2"> <label for="id_I2G_4">★</label>
            <input id="id_I2G_5" type="radio" name="I2G" value="1"> <label for="id_I2G_5">★</label>
        </p>

   <p> Reflexión de las dimensiones éticas aplicadas al dilema:</p>

        <p class="clasificacion">
            <input id="id_I3G_1" type="radio" name="I3G" value="5"> <label for="id_I3G_1">★</label>
            <input id="id_I3G_2" type="radio" name="I3G" value="4"> <label for="id_I3G_2">★</label>
            <input id="id_I3G_3" type="radio" name="I3G" value="3"> <label for="id_I3G_3">★</label>
            <input id="id_I3G_4" type="radio" name="I3G" value="2"> <label for="id_I3G_4">★</label>
            <input id="id_I3G_5" type="radio" name="I3G" value="1"> <label for="id_I3G_5">★</label>
        </p>

    <p> Reflexión sobre ventajas y limitaciones del razonamiento utilitarista:</p>

        <p class="clasificacion">
            <input id="id_I4G_1" type="radio" name="I4G" value="5"> <label for="id_I4G_1">★</label>
            <input id="id_I4G_2" type="radio" name="I4G" value="4"> <label for="id_I4G_2">★</label>
            <input id="id_I4G_3" type="radio" name="I4G" value="3"> <label for="id_I4G_3">★</label>
            <input id="id_I4G_4" type="radio" name="I4G" value="2"> <label for="id_I4G_4">★</label>
            <input id="id_I4G_5" type="radio" name="I4G" value="1"> <label for="id_I4G_5">★</label>
        </p>
    </form>


    <button class="sig">
          <b>Siguiente</b>
    </button>

{% endblock %}
