{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Ganancias Individuales
{% endblock %}

{% block content %}

    {% if player.id_in_group == 1 %}
        <p>
            Usted es el participante A</br>
            Su ganancia en este periodo es: {{player.payoff}}</br>
            La ganancia promedio de las inventores fue: {{ subsession.gananciamujeres }}</br>
            La ganancia promedio de los inversores fue: {{ subsession.gananciahombres }}

        </p>
    {% else %}
        <p>
            Usted es el participante B</br>
            Su ganancia en este periodo es: {{player.payoff}}</br>
            La ganancia promedio de las inventores fue: {{subsession.gananciamujeres}}</br>
            La ganancia promedio de los inversores fue: {{ subsession.gananciahombres }}
        </p>
    {% endif %}

    {% next_button %}

{% endblock %}
