{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Usted es el Vendedor
{% endblock %}

{% block content %}

   <style type="text/css">

    th.tg{
      color: #009846;
      text-align: center;
      border-collapse:collapse;
      border-spacing:0;
      border: 1px solid black;
    }

    td.ta{
      color: blue;
      border-collapse:collapse;
      border-spacing:0;
      border: 1px solid black;
    }

    td.tg-baqh{
      text-align: center;
      border-collapse:collapse;
      border-spacing:0;
      border: 1px solid black;
    }

    h2{
      color: #05257f;
    }

    table.table{
      border-collapse:collapse;
      border-spacing:0;
      border: 1px solid black;
    }
</style>

<div align="center">
    <table class="table">
      <tr>
        <th class="tg">Calidad</th>
        <th class="tg">1</th>
        <th class="tg">2</th>
        <th class="tg">3</th>
        <th class="tg">4</th>
        <th class="tg">5</th>
      </tr>
      <tr>
        <td class="ta">Costo</td>
        <td class="tg-baqh">100</td>
        <td class="tg-baqh">200</td>
        <td class="tg-baqh">300</td>
        <td class="tg-baqh">400</td>
        <td class="tg-baqh">500</td>
      </tr>
      <tr>
        <td class="ta">Valor</td>
        <td class="tg-baqh">500</td>
        <td class="tg-baqh">1000</td>
        <td class="tg-baqh">1500</td>
        <td class="tg-baqh">2000</td>
        <td class="tg-baqh">2500</td>
      </tr>
    </table>
</div>

<br/>

    {%formfield group.Calidad label="Debe decidir la calidad del producto:"%}

    {%formfield group.Mensaje label="Debe decidir el mensaje sobre la calidad del producto:"%}

    {%formfield group.Precio label="Debe decidir el precio de venta:"%}

    <div>
      <button type="button" id="siguiente" class="btn btn-primary btn-large">Siguiente</button>
      <div id="warning" class="alert alert-danger" style="visibility: hidden;">
        <strong>Error!</strong> Porfavor, asegurese que el precio de venta sea mayor al costo de produccion.
      </div>
      <div style="visibility: hidden;">
        <button id="verdadero_siguiente" style="visibility: hidden;"></button>
      </div>
    </div>

    <script>
      function validar()
      {
          if(document.getElementById("id_Calidad").value == "")
            {
                var calidad = 0;
            }
            else
            {
                var calidad = parseInt(document.getElementById("id_Calidad").value);
            }
            if(document.getElementById("id_Precio").value == "")
            {
                var precio_vendedor = 0;
            }
            else
            {
                var precio_vendedor = parseInt(document.getElementById("id_Precio").value);
            }
          if (precio_vendedor >= 100*calidad)
          {
              return true;
          }
          else
          {
              return false;
          }
      }
      function mostrar()
      {
          document.getElementById("warning").style.visibility="hidden";
      }
      function enviar() {
        if(validar())
        {
          document.getElementById("verdadero_siguiente").click();
        }
        else
        {
          document.getElementById("warning").style.visibility="visible";
          window.setTimeout(mostrar, 3000);
        }
      }
      document.getElementById("siguiente").onclick=enviar;
  </script>

{% endblock %}
