{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Usted es el Vendedor
{% endblock %}

{% block content %}

   <style type="text/css">

    th.tg{
      color: #009846;
      text-align: center;
      border-collapse:collapse;
      border-spacing:0;
      border: 1px solid black;
    }

    td.ta{
      color: blue;
      border-collapse:collapse;
      border-spacing:0;
      border: 1px solid black;
    }

    td.tg-baqh{
      text-align: center;
      border-collapse:collapse;
      border-spacing:0;
      border: 1px solid black;
    }

    h2{
      color: #05257f;
    }

    table.table{
      border-collapse:collapse;
      border-spacing:0;
      border: 1px solid black;
    }
</style>

<div align="center">
    <table class="table">
      <tr>
        <th class="tg">Calidad</th>
        <th class="tg">1</th>
        <th class="tg">2</th>
        <th class="tg">3</th>
        <th class="tg">4</th>
        <th class="tg">5</th>
      </tr>
      <tr>
        <td class="ta">Costo</td>
        <td class="tg-baqh">100</td>
        <td class="tg-baqh">200</td>
        <td class="tg-baqh">300</td>
        <td class="tg-baqh">400</td>
        <td class="tg-baqh">500</td>
      </tr>
      <tr>
        <td class="ta">Valor</td>
        <td class="tg-baqh">500</td>
        <td class="tg-baqh">1000</td>
        <td class="tg-baqh">1500</td>
        <td class="tg-baqh">2000</td>
        <td class="tg-baqh">2500</td>
      </tr>
    </table>
</div>

<br/>

    {%formfield group.calidad_real label="Debe decidir la calidad del producto:"%}

    {%formfield group.calidad_ofrecida label="Debe decidir el mensaje sobre la calidad del producto:"%}

    {%formfield group.precio_vendedor label="Debe decidir el precio de venta:"%}

    <p>Si la calidad del producto coincide con el  mensaje, usted puede invertir 500 puntos para asegurar la calidad.
    <br> <small> En caso de que no coincida responda: NO </small> </p>

    {%formfield group.decision_vendedor label="¿Desea invertir 500 puntos para que el comprador esté seguro de la calidad ofrecida?"%}

    {% next_button %}

{% endblock %}
