{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Ganancias Individuales
{% endblock %}

{% block content %}

        <p> <b>Usted es el vendedor</b>  <br>
        La calidad del producto es:{{group.calidad_real}} <br>
        El precio de venta es: {{group.precio_vendedor}} <br/>
        </p>

        {% if group.decision_comprador==True }

            <p>Se realizó la transacción </p>

        {% else %}

            <p>No se realizó la transacción</p>

        {% endif %}

        <p>Su ganancia en este periodo es: {{player.payoff}} </p>

    {% next_button %}

{% endblock %}