{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Ganancias Individuales
{% endblock %}

{% block content %}

 {% if player.id_in_group == 1 %}

<p> <b>Usted es el vendedor</b>  <br>
    La calidad del producto es:{{group.Calidad}} <br>
    El precio de venta es: {{group.Precio}} <br/>

        {% if group.Transaccion == True %}

         Se realizó la transacción </p>

        {% else %}

         No se realizó la transacción</p>

        {% endif %}

    <p>Su ganancia en este periodo es: {{player.Pagos}} </p>

 {% else %}

<p> <b>Usted es el comprador</b>  <br>
    La calidad del producto es:{{group.Calidad}} <br>
    El precio de venta es: {{group.Precio}} <br/>

        {% if group.Transaccion == True %}

         Se realizó la transacción </p>

        {% else %}

         No se realizó la transacción</p>

        {% endif %}

    <p>Su ganancia en este periodo es: {{player.Pagos}} </p>

    {% endif %}

    {% next_button %}

{% endblock %}