{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Tipo de tratamiento
{% endblock %}

{% block content %}

    {% if tratamiento %}
        {% if numeroronda == rondastotales %}
            <h1 align="center">
                Periodos finales
            </h1> </br>
        En los siguientes periodos, el vendedor podra garantizar la calidad del producto del cual esta vendiendo.
        {% else %}
            <h1 align="center">
                Periodos iniciales
            </h1> </br>
        En los siguientes periodos, el vendedor no podra garantizar la calidad del producto del cual esta vendiendo.
        {% endif %}
    {% else %}
        {% if numeroronda == rondastotales %}
            <h1 align="center">
                Periodos finales
            </h1> </br>
        En los siguientes periodos, el vendedor podra garantizar la calidad del producto del cual esta vendiendo.
        {% else %}
            <h1 align="center">
                Periodos iniciales
            </h1> </br>
        En los siguientes periodos, el vendedor no podra garantizar la calidad del producto del cual esta vendiendo.
        {% endif %}
    {% endif %}

    {% next_button %}

{% endblock %}
