{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Decida cuáles concursantes van a participar en la subasta
{% endblock %}

{% block content %}

    {% if tratamiento == 1 %}

    <table>
    <tr>
        <th></th>
        <th>Concursante 1</th>
        <th>Concursante 2</th>
        <th>Concursante 3</th>
    </tr>
    <tr>
        <td>Nivel de Tecnologia</td>
        <td>{{ntc1}}</td>
        <td>{{ntc2}}</td>
        <td>{{ntc3}}</td>
    </tr>
    <tr>
        <td>Cantidad en la cuenta del Subastador</td>
        <td>{{sobornoc1}}</td>
        <td>{{sobornoc2}}</td>
        <td>{{sobornoc3}}</td>
    </tr>
    <tr>
        <td>Seleccione quienes desea que participen en la subasta</td>
        <td>{% formfield group.aceptaC1 %}</td>
        <td>{% formfield group.aceptaC2 %}</td>
        <td>{% formfield group.aceptaC3 %}</td>
    </tr>
    </table>

    {% elif tratamiento == 2 %}

    <table>
    <tr>
        <th></th>
        <th>Concursante 1</th>
        <th>Concursante 2</th>
        <th>Concursante 3</th>
    </tr>
    <tr>
        <td>Cantidad en la cuenta del Subastador</td>
        <td>{{sobornoc1}}</td>
        <td>{{sobornoc2}}</td>
        <td>{{sobornoc3}}</td>
    </tr>
    <tr>
        <td>Seleccione quienes desea que participen en la subasta</td>
        <td>{% formfield group.aceptaC1 %}</td>
        <td>{% formfield group.aceptaC2 %}</td>
        <td>{% formfield group.aceptaC3 %}</td>
    </tr>
    </table>

    {% elif tratamiento == 3 %}

    <table>
    <tr>
        <th></th>
        <th>Concursante 1</th>
        <th>Concursante 2</th>
        <th>Concursante 3</th>
    </tr>
    <tr>
        <td>Nivel de Tecnologia</td>
        <td>{{ntc1}}</td>
        <td>{{ntc2}}</td>
        <td>{{ntc3}}</td>
    </tr>
    <tr>
        <td>Cantidad en la cuenta del Concursante</td>
        <td>{{cpc1}}</td>
        <td>{{cpc2}}</td>
        <td>{{cpc3}}</td>
    </tr>
    <tr>
        <td>Seleccione quienes desea que participen en la subasta</td>
        <td>{% formfield group.aceptaC1 %}</td>
        <td>{% formfield group.aceptaC2 %}</td>
        <td>{% formfield group.aceptaC3 %}</td>
    </tr>
    </table>

    {% else %}

    <table>
    <tr>
        <th></th>
        <th>Concursante 1</th>
        <th>Concursante 2</th>
        <th>Concursante 3</th>
    </tr>
    <tr>
        <td>Cantidad en la cuenta del Concursante</td>
        <td>{{cpc1}}</td>
        <td>{{cpc2}}</td>
        <td>{{cpc3}}</td>
    </tr>
    <tr>
        <td>Seleccione quienes desea que participen en la subasta</td>
        <td>{% formfield group.aceptaC1 %}</td>
        <td>{% formfield group.aceptaC2 %}</td>
        <td>{% formfield group.aceptaC3 %}</td>
    </tr>
    </table>

    {% endif %}

    {% next_button %}

{% endblock %}
